<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nom_Prenom</h2>
            <h4>Exemple@gmail.com</h4>
        </div>
        <img src="  https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png" alt="smiytek">
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">Configurer mon Compte</a>
    <mat-divider></mat-divider>
    <h2 matSubheader>Taches</h2>    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Gestion des enseignants</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Gestion des étudiants</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">Gestion d'absence</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">Streams</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Autres</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>import_contacts</mat-icon>......</a>
</mat-nav-list>