<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6"  style="text-align: center;">
        <button class="mat-fab">
          <mat-icon class="material-icons" inline=true routerLinkActive="list-item-active" routerLink="FormSeance">add</mat-icon>
        </button>
        <h2>Créer un seance.</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6"  style="text-align: center;">
        <button class="mat-fab">
          <mat-icon class="material-icons" inline=true routerLinkActive="list-item-active" routerLink="FormAffectation">create</mat-icon>
        </button>
        <h2>Affectation.</h2>
</div>
</div>
<br>
<div class="row justify-content-center">

    <router-outlet></router-outlet>

</div>
