<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6"  style="text-align: center;">
        <button class="mat-fab" routerLinkActive="list-item-active" routerLink="FormSeance">
          <mat-icon class="material-icons" inline=true >add</mat-icon>
        </button>
        <h2>Créer une seance.</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6"  style="text-align: center;">
        <button class="mat-fab" routerLinkActive="list-item-active" routerLink="FormAffectation">
          <mat-icon class="material-icons" inline=true >create</mat-icon>
        </button>
        <h2>Affectation.</h2>
</div>
</div>
<br>

    <router-outlet></router-outlet>
