<div class="row justify-content-center">
<div class="col-md-8">
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-4">
    <h2>Hello {{nick}}!</h2>

    <div class="container" *ngFor="let message of messages">
        <p>{{message}}</p>
        <span class="time-right">{{ heure | date:'shortTime' }}</span>
      </div>

    <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
        <div class="row">
            <input type="text" id="message" name="message" [(ngModel)]="message" required>
        <button type="submit" id="sendmessage" class="btn btn-primary" [disabled]="!chatForm.valid">
            Send
        </button>
    </div>
    </form>
   <!-- <div class="messages" *ngIf="messages.length > 0">
        <ul *ngFor="let message of messages">
            <li class="sent">{{message}}</li>
        </ul>
    </div>-->
</div>
</div>