.container {
    border: 2px solid #E5E5F1;
    background-color:#E5E5F1;
    border-radius: 5px;
    margin: 10px 0;
  }
.container p{
    margin: auto 0;
    word-wrap: break-word; 
}
#message{
    border-radius: 12px;
    padding:2px;
}
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }