<div style="text-align: center;">
  <button class="mat-fab" (click)="onOpen()">
    <mat-icon class="material-icons" inline=true>add</mat-icon>
  </button>
  <h2>Ajouter Enseignant</h2>
</div>
<div class="container">
  
  <mat-form-field>
    <mat-label><i class="fa fa-search" aria-hidden="true"></i>Search</mat-label>
    <input matInput placeholder="Search" name="searchText" [(ngModel)]="searchText" >
  </mat-form-field>
  <div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th *ngFor="let header of columnlist" scope="col">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let ens of this.service.Enseignants |filter:searchText | paginate :{ itemsPerPage: 10,currentPage:number}">
        <td>{{ens.nom}}</td>
        <td>{{ens.prenom}}</td>
        <td>{{ens.email}}</td>
        <td>{{ens.cin}}</td>
        <td>{{ens.dateNais | date:'short'}}</td>
        <td>{{ens.adresse}}</td>
        <td>{{ens.telephone}}</td>
        <td>{{ens.dateEmb | date:'short'}}</td>
        <td>{{ens.cnss}}</td>
        <td>{{ens.salaire}}</td>
        <td><a>
            <mat-icon class="material-icons" style="cursor: pointer;"(click)="onOpenEdit(ens)">create</mat-icon>
          </a></td>
          <td>
            <a>
              <mat-icon class="material-icons" style="cursor: pointer;" (click)="onDelete(ens.id)">delete</mat-icon>
            </a>  </td>         
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="number=$event"></pagination-controls>
</div>