button{
    margin: 20px;
    line-height: unset;
    background-color:lavender;
}
table{
    background-color:lavender;
}
.example-card {
    max-width: 120px;
    max-height: 170px;
    margin:0 auto;  
  }
.example-card h3{
  font-weight: bold;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }