



<div style="text-align: center;">
  <button class="mat-fab" (click)="onOpen()">
    <mat-icon class="material-icons" inline=true>add</mat-icon>
  </button>
  <h2>Ajouter Enseignant</h2>
</div>
<!--<div class="row">
  <input type="text" name="searchText" placeholder="search" [(ngModel)]="searchText" >
</div>   -->

<div class="container">
  <i class="fa fa-search" aria-hidden="true"></i>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search">
  </mat-form-field>
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let header of columnlist">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let ens of this.service.Enseignants |filter:searchText | paginate :{ itemsPerPage: 1,currentPage:number}">
        <td>{{ens.nom}}</td>
        <td>{{ens.prenom}}</td>
        <td>{{ens.email}}</td>
        <td>{{ens.cin}}</td>
        <td>{{ens.dateNais | date:'mediumDate'}}</td>
        <td>{{ens.adresse}}</td>
        <td>{{ens.telephnoe}}</td>
        <td>{{ens.dateEmb}}</td>
        <td>{{ens.cnss}}</td>
        <td>{{ens.salaire}}</td>
        <td><a>
            <mat-icon class="material-icons" style="cursor: pointer;">create</mat-icon>
          </a></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="number=$event"></pagination-controls>
</div>