.col-sm-6{
  margin-bottom: 10px;
}
.container{
  float: right;
  width: 50%;
  height: 100%;
}
.card-icon{
  width: 50%;
  height: 100%;
  float: left;
}

h1{
  font-size:1.5em;
  font-weight: bolder;
  font-family: Times, "Times New Roman", serif;
}
p{
  font-size:1.1em;
  font-weight: bolder;
  font-family: Times, "Times New Roman", serif;
}
