<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon col-xs-6">
                    <i class="material-icons"><img src="assets\Images\icones\User.png" alt=""></i>
                </div>
                <div class="container col-xs-6">
                <p class="card-category ">Utilisateurs :</p>
                
                <div class="card-title"><h1 class="display-1 font-weight-normal">{{this.Nbetu}}</h1>
                </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i><mat-icon class="material-icons">update</mat-icon>Utilisateurs</i> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon col-xs-6">
                    <i class="material-icons"><img src="assets\Images\icones\Etu_Not_App.png" alt=""></i>
                    </div>
                        <div class="container col-xs-6">
                            <p class="card-category ">Enseignants :</p>
                        <div class="card-title"><h1 class="display-1 font-weight-normal">{{this.Nbens}}</h1></div>
                    </div>
                </div>
            <div class="card-footer">
                <div class="stats">
                    <i><mat-icon class="material-icons">warning</mat-icon>Etudiant non approuvé.</i> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon col-xs-6">
                    <i class="material-icons"><img src="assets\Images\icones\Teacher.png" alt=""></i>
                </div>
                <div class="container col-xs-6">
                    <p class="card-category ">Enseignants :</p>
                <div class="card-title"><h1 class="display-1 font-weight-normal">{{this.Nbens}}</h1></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i><mat-icon class="material-icons">update</mat-icon>Etudiant non approuvé.</i> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon col-xs-6">
                    <i class="material-icons"><img src="assets\Images\icones\Student.png" alt=""></i>
                </div>
                <div class="container col-xs-6">
                    <p class="card-category ">Enseignants :</p>
                <div class="card-title"><h1 class="display-1 font-weight-normal">{{this.Nbens}}</h1></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i><mat-icon class="material-icons">update</mat-icon>Etudiant non approuvé.</i> 
                </div>
            </div>
        </div>
    </div>
</div>