
    <div class="container">
    <div class="modal-header">
				<h4 class="modal-title"><strong>Suppression :</strong></h4>	
			</div>
			<div class="modal-body">
				<p>Vous êtes sûr de vouloir supprimer ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" (click)="closeDialog()"  [mat-dialog-close]="false" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-danger" [mat-dialog-close]="true" >Supprimer</button>
      </div>
    </div>