<div class="table-responsive">
  <i class="fa fa-search" aria-hidden="true"></i>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" name="searchText" [(ngModel)]="searchText" >
    </mat-form-field>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th *ngFor="let header of columnlist">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let etu of this.service.Etudiants |filter:searchText | paginate :{ itemsPerPage:8,currentPage:number}">
          <td>{{etu.nom}}</td>
          <td>{{etu.prenom}}</td>
          <td>{{etu.email}}</td>
          <td>{{etu.cin}}</td>
          <td>{{etu.dateNais | date:'short'}}</td>
          <td>{{etu.adresse}}</td>
          <td>{{etu.telephone}}</td>
          <td>{{etu.cne}}</td>
          <td>{{etu.genre}}</td>
          <td>{{etu.filiere}}</td>
          <td><a>
              <mat-icon class="material-icons" style="cursor: pointer;" (click)="onOpenEdit(etu)">create</mat-icon>
            </a></td>
         <td><a>
                <mat-icon class="material-icons" style="cursor: pointer;" (click)="onDelete(etu.id)">delete</mat-icon>
              </a></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="number=$event"></pagination-controls>
  </div>
