form.normal-form{
    margin:10px;
}
.controles-container{
    width: 100%;
    padding:5%;
}
.controles-container>*{
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
 /* .example-full-width {
    width: 100%;
  }*/
  
  td {
    padding-right: 8px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.button-row button {
  margin-right: 8px;
}
.mat-raised-button{
  margin-bottom: 5px;
}