<div class="row justify-content-center" style="margin-bottom:15px;">
    <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
            {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
            {{message}}
        </span>
    </div>
</div>
<div class="row justify-content-center" style="text-align: center;">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <table class="table table-borderless table-condensed table-hover">
            <thead>
                <th>Nom</th>
                <th>Status</th>
                <th>Fichier</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let f of fichiers">
                    <td>{{f.nom}}</td>
                    <td>{{f.status}}</td>
                    <td>{{f.nomFichier}}</td>
                    <td><i (click)="Telecharger(f.id)"><span class="material-icons">get_app</span></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>