<div class="table-responsive">
    <i class="fa fa-search" aria-hidden="true"></i>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" name="searchText" [(ngModel)]="searchText" >
      </mat-form-field>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th *ngFor="let header of columnlist">{{header}}</th><th>Cocher<input type="checkbox"  (change)="bulck($event)"/></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let etu of this.service.Etudiants |filter:searchText | paginate :{ itemsPerPage:8,currentPage:number}">
            <td>{{etu.nom}}</td>
            <td>{{etu.prenom}}</td>
            <td>{{etu.email}}</td>
            <td>{{etu.cin}}</td>
            <td>{{etu.dateNais | date:'short'}}</td>
            <td>{{etu.adresse}}</td>
            <td>{{etu.telephone}}</td>
            <td>{{etu.cne}}</td>
            <td>{{etu.genre}}</td>
            <td>{{etu.filiere}}</td>
            <td><input type="checkbox" [ngModel]="checks" (change)="Remplir($event,etu.id)"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <pagination-controls (pageChange)="number=$event"></pagination-controls>
        <button [disabled]="!checkDisabled()" (click)="Approved()" class="btn" style="background-color: #558CB2;color:white">Enregistrer</button>
      </div>
    </div>
  
